.header, .container, .checkout{
    font-family: 'Montserrat-Arabic', sans-serif; /* Apply Montserrat-Arabic font */
  }

.header{
    padding-left: 35px;
    padding-right: 35px;
    padding-top:45px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h2{
    font-size: 24px;
    font-weight: bold;
}

.Location{
    max-width: 50%;
    min-width: 40%;
    height: 25px;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: bold;
}

.rotate {
    display: inline-block;
    transform: rotate(90deg); 
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
  }

.productCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-gap: 20px;
    padding-bottom: 80px;
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    justify-items: center;
  }



.checkout {
   position: fixed; 
    bottom: 75px;    /* Increased from 20px to 40px to move it up a little */
    left: 50%;       /* Center horizontally */
    transform: translateX(-50%); /* Center the element by its width */
    background-color: var(--color-P300);
    border-radius: 25px;
    color: aliceblue;
    width: 65%;
    height: 45px;
    transition: transform 0.9s ease;
    z-index: 1000;   
}
