/* .productCard {
  width: 170px;
  height: 270px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  font-family: 'Montserrat-Arabic', sans-serif;
}

.productImage {
  width: 173px;
  height: 101px;
}

.productDetails{
  padding: 16px;
  width: 100%;
}

.productName,
.productWeight,
.productPrice{
  color: #A2A2A3;
  font-size: 11px;
  margin-bottom: 16px;
}

.productBrand {
  color: #1B1B1E;
  font-size: 12px;
  margin-bottom: 4px;
}

.productPrice {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.priceValue {
  font-weight: bold;
  color: #1392F3;
}

.priceCurrency {
  margin-left: 4px;
}

.productAction {
  border-top: 1px dashed #ccc;
  padding-top: 8px;
  width: 270px;
  text-align: center;
}

.addButton{
  background: none;
  border: none;
  color: #1B1B1E;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusIcon {
  margin-right: 4px;
}

.addText {
  margin-bottom: 8px;
  
} */
