
.bold, .light, .quantity, .addtobasket, .CartBtn{
    font-family: 'Montserrat-Arabic', sans-serif; /* Apply Montserrat-Arabic font */
  }

.container {
    padding: 16px; 
    display: flex;
    align-items: center;
  }
  
  .container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

.bold{
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.light{
    display: flex;
    font-size: 15px;
    color: var(--color-B75);
}

.content{
    padding: 16px; 
    display: flex;
}


.content img{
    height: 220;
    width: 100%;
    border-radius: 10px;
}
.quantity{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}


  .CartBtn {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-P300);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }

  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    color: aliceblue;
    vertical-align: middle;
  }
  
  
  .CartBtn:hover .IconContainer {
    transform: translateX(60px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }