@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: white;
}

.btn-primary {
  position: absolute;
  top: 10px;
  left: 20px;
}

.text-center {
  margin-right: 750px;
  position: absolute;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.hand {
  margin-right: 740px;
  position: absolute;
  top: -3px;
  left: 260px;
}

@media screen and (max-width: 767px) {
  .text-center {
    margin-right: 10px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
}

.Hbut {
  margin-top: 250px;
}
