.container, .header{
    font-family: 'Montserrat-Arabic', sans-serif; /* Apply Montserrat-Arabic font */
  }



.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  align-items: center;
  padding-top: 50px; /* Padding from the top */
}

.header{
  background-color: var(--color-S50);
  position: fixed;
  width: 100%;
}

.header h1{
  margin-left: 2%;
  font-size: 24px;
  font-weight: bold;
}

.header img{
  margin-left: 200%;
}
.categoriesContainer {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
 -ms-overflow-style: none; /* Internet Explorer/Edge */
  margin-right: 5%;
}

  .categoryButton {
    margin-left: 1%; 
    font-weight: bold;
    font-size: 16px;
    padding: 4px 32px;
    background:white;
    border-radius: 10px;
    margin-top: 32px;
    color: black;
  }



.categoriesContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.categories {
  display: inline-block;
  white-space: nowrap;
  padding-left: 1px;
}

.selected {
  background-color: var(--color-P300);
  color: white; 
}

.scrollablewrapper {
  overflow-x: auto;
}

.productCardsContainer {
  margin-top: 180px; /* Adjust the margin-top to accommodate the fixed header */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 20px 20px;
  padding-top: 20px; /* Add padding-top to ensure content isn't hidden */
}

