.title,.title2, .h2, .btn, .btn2, .rectangle, .addressLabel, .addressDescription, .addAddressContainer, .profileText{
  font-family: 'Montserrat-Arabic', sans-serif; /* Apply Montserrat-Arabic font */
}


.title {
  font-weight: bold;
  font-size: 25px;
}

.title2 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 2%;
}


.rectangle {
  width: 9;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px; 
  text-align: left;
  margin-right: 10%;
}

.pfp {
  display: flex;
  align-items: center; 
  margin-left: 20px;
  margin-top: 25px;
}

.profileText {
margin-left: 10px;
font-weight: bold;
font-size: 18px;
}

.number{
  margin-left: 70px;
  margin-top: -15px;
  font-weight: bold;
  color: var(--color-B75);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.5px solid #e8e8e9;
  width: 361px;
  height: 102px;
  margin-left: 10%;
  border-radius: 10px;
}

.page {
  margin-left: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.h2 {
  margin-left: 40px;
  margin-top: -23px;
  
}
.container2 {
  text-align: center; /* Center align the button */
}

.btn {
  display: inline-block; /* Make the button display inline */
  padding: 10px 20px; /* Add padding to increase button size */
  border: none; /* Remove border */
  background-color: var( --color-D200); /* Change button background color */
  color: white; /* Change button text color */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  text-decoration: none; /* Remove default link underline */
}

.btn:hover {
  background-color: var( --color-D300); /* Change button background color on hover */
}

.btn2 {
  margin-left: 30px;
  margin-top: -25px;
  
}
.drawerContent {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding: 20px;
}

.title {
  margin-left: 10px; /* Adjust as needed */
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.centeredImage {
  width: 70px;
  height: 70px;
  margin-left: -20px;
}


.addressList {
  margin-top: 20px;
}

.addressItem {
  margin-bottom: 10px;
}

.addressLabel {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.addressLabel input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:var(--color-P300);
  position: relative;
}

.addressLabel input[type="checkbox"]:checked::after {
  content: '\2714';
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addressLabel input[type="checkbox"]:not(:checked)::after {
  content: '';
}

.addressLabel input[type="checkbox"]:not(:checked) {
  background-color: grey;
}

.tst {
  display: flex;
  font-size: 18px;
  color: var(--color-B75);
  margin: 10px 0px 20px;
  width: 100%; /* Set width to cover the whole viewport width */
  justify-content: space-between; /* Separate the two .line elements */
  padding: 0 10px; /* Add padding to the left and right */
}

.tst .line {
  flex: 1;
  height: 1px;
  background-color: var(--color-B75);
  margin-right: 10px; /* Add margin to the right to center the line */
}

.addAddressContainer {
  display: flex;
  align-items: center;
}

.addAddressContainer button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.addAddressContainer button img {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin-right: 5px; /* Adjust margin as needed */
}

.addAddressContainer button p {
  margin: 0; /* Remove default margin */
}

.addressDescription{
  margin-left: 10px;
  margin-top: 4px;
  font-size: 15px
}